
ul {
    list-style-type: none;
}

li a {
    float: left;
    display: block;
    width: 80px;
    padding-left: 230px;
    text-align: center;
    border: 1px none;
    color: black;
    font-size: 20px;
    text-decoration: none;
    
}
    
    li a:shadow:not(.active) {
        background-color: none;
    }
    
    .active {
        background-color: maroon;
        
    }


a {
    color: black;
    text-decoration: none;
}


body {
    background-color:lightslategray;
}

h1 {
    text-align: center;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 150px;
    padding-bottom: 50px;
    text-decoration-line: underline;
    text-decoration-color: maroon;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 70px;
    margin-bottom: 100px;
    margin-left: 70px;
    line-height: 20px;
    text-align: center;
}

