h1 {
    text-align: center;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 150px;
    padding-bottom: 50px;
    text-decoration-line: underline;
    text-decoration-color: maroon;
    




}