

body {
    background-color: lightslategray;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}


.main {
    max-width: 1000px;
    margin-top: 1000px;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 100px -16px;
}


.row,
.row > .column {
    padding: 10px;
}


.column {
    float: left;
    width: 40%;
    height: 30%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


.content {
    background-color: lightslategray;
    padding: -50px 20px 10px 0px;
}


@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

img { max-width: 100%; }

